* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5%;
    background-color: rgba(113, 41, 23, 0.9);
    border-bottom: 1px solid #301109;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 1.7rem;
    color: #2b6750;
    font-style: normal;
}

.navbar .navbar-logo span {
    color: var(--bg);
}

.navbar .navbar-nav a {
    color: hsl(160, 100%, 99%);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.navbar .navbar-nav a:hover {
    color: #fbfb9b;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #fbfb9b;
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
    transition: 0.2s linear;
}


.container {
    display: flex;
    margin-top: 70px;
    margin-bottom: 10px;
    background-color: #ffffd6;
}

/*mengubah font jadi font Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
}

.text {
    flex: 1;
    color: #2B6750;
    font-size: 20px;

}

.image {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}


.h1 {
    font-size: 50px;
}

.besar {
    font-weight: 100;
    line-height: 1.6;
    font-size: 24px;    
}

.center-text {
    text-align: center;
    color: #2B6750;
    font-size: 15px;
}

.wellcome {
    color: #D6A62E;
    font-size: 20px;

}
.mid .center-text .p{
    text-align: center;
    color: #2B6750;
    font-size: 20px;

}

.project .content h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #2b6750;
}
.tim h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    color: #2b6750;
}
.project .content p {
    margin-bottom: 0.8rem;
    font-size: 1.7em;
    font-weight: 200;
    color: #2b6750;
    text-align: center;

}


.wadah{
width: 100%;
min-height: 80vh;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
padding: 0px 90px;
margin-top: 0;
margin-bottom: 0;
}

.wadah1 {
align-items: center;
width: 500px;
min-height: 100vh;
background-color: #ffffff;
display: flex;
justify-content: center;
padding: 0px 50px;
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
}


.wadah-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wadah-section .card{
    flex: 1;
    margin: 20px 20px; 
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.wadah-section .card img{
    width: 100%;
    height: auto;
}
.wadah-section .card h3{
    margin: 15px 0px;
    font-size: 23px;
    color: #2B6750;

}
.wadah-section .card p{
    font-size: 16px ;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: Montserrat;

}


/* bagian Footer*/
/* Gaya footer */
.footer {
    background-color: #333;
    color: #fff; 
    padding: 20px 0; 
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
}

.footer-content p{
    font-weight: 100;
    line-height: 1.6;
    font-size: 18px;
}
.footer-content li{
    font-weight: 100;
    line-height: 1.3;
    font-size: 18px;
}

.footer-left {
    flex: 1;
    text-align: left;
    margin-left: 50px;
}

.footer-right {
    flex: 1;
    text-align: right;
    margin-right: 50px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 5px 0;
}

.footer-copyright {
    margin-top: 20px;
}

/*Akhir footer*/